.modal-content{
  background: transparent;
  text-align: center;
  border: inherit;
  box-shadow: none;
  width: 71rem;
}

.close{
  color: white;
  height: 5rem;
  text-shadow: none;
  font-size: 3rem;
}

.close:hover, .close:focus{
  color: $orangeTint;
}

.text-contact{
  width: 25rem;
  font-size: 1.6rem;
  margin-right: 1.6rem;
  padding-top: 2rem;
}

.text2{
  color: inherit;
  margin-bottom: 0;
}

.modal-header{
  border-bottom: inherit;
  text-align: left;
  color: #fff;
  padding-left: 4rem;
}

.modal-body{
  text-align: left;
  color: white;
  display: inline-block;
}


.modal-footer{
  border-top: inherit;
  text-align: center;
}


.form-group{
  width: 32rem;
  border-radius: 4rem;
  margin-top: 0;
  padding-bottom: 1rem;
  margin: auto;
}





