// ---------------------------
// Helper classes
// ---------------------------

// Position
// ---------------------------
.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.fixed {
  position: fixed;
}

// Float
// ---------------------------
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.cf {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

 //Display Values
 //-------------------------

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

// Aligning Elements
// -------------------------

.center {
  margin: 0 auto;
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.mobile-text-center {
  @media (max-width: 992px) {
    text-align: center;
  }
}

// Colors
// -------------------------

.white {
  &.white {
    color: #fff;
  }
}

.black {
  &.black {
    color: #000;
  }
}

.prime {
  &.prime {
    color: $prime;
  }
}

.second {
  &.second {
    color: $second;
  }
}
.third {
  &.third {
    color: $thirdShade;
  }
}
.thirdDark{
  &.thirdDark{
    color: $darkDarkGray;
  }
  
}

// Background Colors
// -------------------------

.bg-white {
  &.bg-white {
    background-color: #fff;
  }
}

.bg-black {
  &.bg-black {
    background-color: #000;
  }
}

.bg-prime {
  &.bg-prime {
    background-color: $prime;
  }
}

.bg-second {
  &.bg-second {
    background-color: $second;
  }
}

.bg-third {
  &.bg-third {
    background-color: $third;
  }
}

.bg-gray {
  &.bg-gray {
    background-color: $whiteGray;
  }
}

// Cursor
// -------------------------

.pointer {
  cursor: pointer;
}

// Margins

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.mt-12{
  margin-top: 12rem;
}

// Bold
//-------------------------
.b{
  font-weight: bold;
}

// Carousel
//-------------------------

.carousel-indicators {
  margin-bottom: -5rem;
}

// Icon for footer
//-------------------------

.icon{
  width: 7rem;
  height: 7rem;
  background: transparent;
  border: solid 1px $grayShade;
  cursor: pointer;
  margin: 3rem;

  @media (max-width: $screen-md){
    margin: 1.5rem;
  }
}

%fa{
  position: absolute;
  top: 1.5rem;
}

.fa-facebook{
  @extend %fa;
  left: 2.3rem;
}

.fa-twitter{
  @extend %fa;
  left: 2.0rem;
}

.fa-envelope-o{
  @extend %fa;
  left: 1.7rem;
}

.fa-skype{
  @extend %fa;
  left: 1.9rem;
}

// LOGO HTML5 CSS3 JS
//-------------------------

.logo-html{
  width: 16.5rem;
  height: 16.5rem;
  margin: 0 auto;
  background-color: transparent;

    &:hover{
      background-color: $primeTint;
    }
}

.logo-css{
  position: absolute;
  top: 1.2rem;
  left: 3.3rem;
  width: 10rem;
  height: 14rem;
  border: none;
  cursor: pointer;
}

// For the img in the section my work
//-------------------------

%squre{
  width: 26.2rem;
  height: 19.7rem;
  padding: 1rem;
  border-radius: 2%;


  &:hover {
    opacity: 0.5;
  }

}

.squre1 {
  @extend %squre;
  padding-top: 5rem;
  background: url("/img/bg/Home.jpg") center no-repeat;

  }

.squre2 {
  @extend %squre;
  left: 20rem;
  background: url("/img/bg/service.jpg") center no-repeat;
}

.squre3 {
  @extend %squre;
  background: url("/img/bg/picture3.jpg") center no-repeat;
}

.squre4 {
  @extend %squre;
  background: url("/img/bg/color.jpg") ;
}

.squre5 {
  @extend %squre;
  background: url("/img/bg/picture5.jpg") ;
}

.squre6 {
  @extend %squre;
  background: url("/img/bg/picture6.jpg") ;
}

.squre7 {
  @extend %squre;
  background: url("/img/bg/picture7.jpg") ;
}

.squre8 {
  @extend %squre;
  background: url("/img/bg/picture8.png") ;
}
