// ---------------------------
// Typography and text styles
// ---------------------------

//
// ---------------------------

html {
  font-size: 10px; // static size
}

body {
  color: #241e18;
  margin: 0;
}

// Headings
// ---------------------------
.h1, .h2, .h3, .h4, .h6 {
  font-family: "Merriweather";
  font-weight: bold;
}

.h1 {
  font-size:4.8rem;
}

.h2 {
  font-size: 3.6rem;
}

.h3 {
  font-size: 2.4rem;
}

.h4 {
  font-size: 2.2rem;
}

.h5 {
  font-family: "Open Sans";
  font-size: 1.4rem;
  text-transform: uppercase;
}

.h6 {
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: oblique;
  color: $grayShade;
}

p {
  font-family: "Open Sans";
  font-size: 2.1rem;
  margin: 0;
}

a {
  font-family: "Open Sans";
  font-size: 1.8rem;
  color: $green;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    color: $green;
  }
}

a.link{
  font-family: "Open Sans";
  font-size: 1.8rem;
  color: $second;
  text-decoration: none;
}

.header-ref{
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;


  &:hover {
    text-decoration: underline;
    color: $green;

  }
}


blockquote {
  //width: 75rem;
  font-style: italic;
  font-size: 2.3rem;
  border: none;
  margin: auto;
}

blockquote:before {
  content: "\201C"; /* Непечатаемый символ слева */
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
}

blockquote:after {
  content: "\201D"; /* Непечатаемый символ справа */
  font-size: 2em;
  line-height: 0.1em;
  vertical-align: -0.45em;
}

blockquote > p:first-child {
  display: inline;
}